.vbox {
    -fx-background-color: white;
    -fx-border-width: 4px;
    -fx-border-color: black;
}

.button, .combo-box {
    -fx-background-color: linear-gradient(to bottom, rgba(216, 216, 216, 0.8) 0%, rgba(153, 153, 153, 0.8) 100%);
    -fx-text-fill: white;
    -fx-padding: 0px;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: #d8d8d8;
    -fx-font-size: 12pt;
    -fx-font-weight: bolder;
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.0, 4, 4);
}

.button:hover, .combo-box:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(244, 244, 244, 0.8) 100%);
    -fx-font-size: 12pt;
    -fx-font-weight: bolder;
    -fx-text-fill: orange;
}

.list-view {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(244, 244, 244, 0.8) 100%);
    -fx-text-fill: #999;
    -fx-cursor: null;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: #d8d8d8;
    -fx-font-size: 12pt;
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.0, 4, 4);
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled{
    -fx-border-width: 1px 0;
    -fx-border-color: rgba(244, 244, 244, 0.8);
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover{
    -fx-background-color: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 0%, rgba(51, 51, 51, 0.8) 100%);
    -fx-text-fill: orange;
}

.scroll-bar:vertical, .scroll-bar:horizontal{
    -fx-background-color: linear-gradient(to bottom, rgba(216, 216, 216, 0.8) 0%, rgba(153, 153, 153, 0.8) 100%);
}

.scroll-bar > .increment-arrow,
.scroll-bar > .decrement-arrow{
    -fx-background-color: linear-gradient(to bottom, rgba(34, 34, 34, 0.8) 0%, rgba(51, 51, 51, 0.8) 100%);
}

#lblTitulo {
    -fx-text-fill: #d8d8d8;
    -fx-font-weight: bolder;
    -fx-font-size: 32px;
}

#lblTitulo2{
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 48pt;
}

#lblEstadisticas, #lblLetras {
    -fx-background-color: linear-gradient(to bottom, rgba(216, 216, 216, 0.8) 0%, rgba(153, 153, 153, 0.8) 100%);
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-padding: 0 5px;
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.0, 4, 4);
}

#panelDibujo{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.0, 4, 4);
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: linear-gradient(to bottom, rgba(244, 244, 244, 0.8)0%, rgba(255, 255, 255, 0.8) 100%);
    -fx-content-display: center;
}

.alert.information.dialog-pane, .alert.error.dialog-pane, .alert.warning.dialog-pane, .alert.confirmation.dialog-pane {
    -fx-graphic: none;
    -fx-background-color: white;
}

.dialog-pane > .content.label {
    -fx-background-color: white;
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 16.0pt;
}

.text-area {
    -fx-background-color: linear-gradient(to bottom, rgba(216, 216, 216, 0.8) 0%, rgba(153, 153, 153, 0.8) 100%);
    -fx-text-fill: black;
    -fx-padding: 0px;
    -fx-cursor: hand;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: #d8d8d8;
    -fx-font-size: 10pt;
    -fx-font-weight: normal;
    -fx-effect: dropshadow(three-pass-box, #222, 4, 0.0, 4, 4);
}